@import url("./variables.css");
@import url("./message_notification.css");
@import url("./login.css");
@import url("./maintenance.css");
@import url("./inventory.css");
@import url("./permission_feature.css");

*{
    list-style: none;
    font-size:14px;
}

main{
    margin-top: calc(4 * var(--lg-margin2) );
    min-height: 100vh;    
}

main > .container{    
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
}

nav{
    background-color: var(--black-color1);
}

nav .navbar-brand span{
    color: var(--primary-color);
}
nav a span, li.nav-item a.nav-link{
    color: var(--white-color);
    font-weight: 600;
}

nav > .container{
    max-width: 720px;
}

.toggler-icon{
    color: var(--primary-color);
    font-size: 2em;
}

/*nav bar*/

/* title */
h1{
    font-size: 1.6em;
    font-weight: 600;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--lg-margin3); 
    padding: var(--sm-margin2) 0 ;

    
}

.toolbar a, .item-footer a{
    color: var(--white-color);
    font-weight: 600;
}

.toolbar a{
    background-color:var(--primary-color);
    color: var(--black-color1);
}

.toolbar .new-btn:hover{
    background-color: var(--primary-color2);
}

input[type="search"]{
    border: 2px solid var(--primary-color);    
}

input[type="search"]:focus {
    box-shadow: 0px 0px 10px var(--primary-color);
    outline: 0;
    border: 2px solid var(--primary-color);    
}

.form-inline{
    flex-direction: row;   
}

/* forms*/
form{
    display: flex;
    flex-direction: column;
}

.form-register-upload{    
    border: 1px solid var(--gray-color4);
    border-radius: 10px;
    padding: var(--lg-padding3);    
}

form > label, .form-group > label{
    font-weight: 600;
}
form > button.btn, .form-group + button.btn{
  margin: auto;
  width: 300px;
  margin-top: var(--lg-margin3);
  padding: var(--sm-margin3);
}

.form-group{
    margin-bottom: var(--sm-margin3);
}
.form-footer{
    display: flex;
    justify-content: space-around;
    margin-top:  calc( 3 * var(--lg-margin3));
    margin-bottom: var(--lg-margin3);
}

.form-footer .btn{
    width: 150px;
}
.title-box > h1{
    margin: 0;
    text-align: center;    
}

.title-box > a{
    display: inline;
    position: relative;   
    left: 5%;
}
.title-box{    
    margin-top: var(--lg-margin1);
    margin-bottom: var(--md-margin3);
}

main .container a.nav-link{
    display: inline-block;
}


.item .item-body{
    padding-left: var(--lg-margin1);
}

.item .item-body + div.item-footer{
    display: flex;    
    justify-content: space-around;    
    border-bottom: 1px solid var(--gray-color4);
    margin-bottom: var(--sm-margin3);
}


.item-footer{
    padding-bottom: var(--sm-padding3);
    margin-top: var(--sm-margin3);
    
    gap: var(--sm-margin3);    
}
.item-footer a{
    color: var(--black-color1);    
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--black-color1);
    border: none;
    font-size: 1.1em;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: var(--primary-color2);
    color: var(--black-color1);
    border: none;
}

footer{
    margin-top: var(--md-margin1);
    background-color: var(--gray-color3);
    
}

footer > .container{
    display: flex;
    justify-content: center;
    padding: var(--md-padding1) 0;
    align-items: center;
}

footer p a{
    text-align: center;    
    color: var(--white-color);
}

footer p{
    font-weight: 600;
    color: var(--white-color);
    margin: 0;
    padding: var(--sm-padding2);

}


@media (min-width: 412px) {
    *{        
        font-size:15px;
    }

    main > .container{   
        padding-left: var(--md-margin1);
        padding-right: var(--md-margin1);
    }
}

@media (min-width: 768px) {   
    *{        
        font-size:1em;
    } 
    
    .item .item-body + div.item-footer{
        justify-content: end;         
        
    }

    .item-footer{
        margin-top: 0;
    }
}

