*{
    list-style: none;
}

:root{
    --sm-margin1: 3px;
    --sm-margin2: 6px;
    --sm-margin3: 9px;
    --md-margin1: 12px;
    --md-margin2: 18px;
    --md-margin3: 21px;
    --lg-margin1: 24px;
    --lg-margin2: 27px;
    --lg-margin3: 30px;

    --sm-padding1: 3px;
    --sm-padding2: 6px;
    --sm-padding3: 9px;
    --md-padding1: 12px;
    --md-padding2: 18px;
    --md-padding3: 21px;
    --lg-padding1: 24px;
    --lg-padding2: 27px;
    --lg-padding3: 30px;

    --button-size: 40px;
    --input-size: 30px;

    --sm-font-size: 0.5em;
    --md-font-size: 1em;
    --lg-font-size: 2em;
    --xlg-font-size: 2.5em;

    --border-color:  #cacaca;
    --sm-border-radius2:  6px;

    --black-color1: rgb(15, 15, 15);
    --black-color3: rgb(53, 53, 53);
    --white-color: rgb(231, 231, 231);
}


main{
    margin-top: calc(2 * var(--lg-margin2) );
    min-height: 100vh;    
}

/* messages */
.toast{
    position:absolute;        
        left:50%;
        transform:translate(-50%);
        z-index: 10000;
        margin-top: var(--sm-margin3);
}
.toast > .toast-body{
    display: flex;
    justify-content: space-between;
    color: rgb(240, 240, 240);
    font-weight: 600;
    font-size: 1.2em;
}

main .container > .toast{
    top: 0%;
}

/* main */

.title-box{    
    margin-top: var(--md-margin2);
    margin-bottom: var(--md-margin3);
}

.title-box > h1{
    margin: 0;
    text-align: center;    
}

.title-box > a{
    display: inline;
    position: relative;   
   left: 5%;
}


.toolbar{
    display: flex;
    justify-content: space-between;
}


.table{
    vertical-align: middle;
    margin-top: var(--sm-margin2);
}
.table th{    
  line-height: 50%;
  text-align: center;
  padding: var(--md-margin2) var(--md-margin1);
}

/* forms */

/* fieldset */
fieldset {
    padding:var(--md-padding3);
}

legend{
    float: none;
    width: auto;
    padding:var(--sm-padding3);
    
}

/* Maintenance */

.maintenance-main a{
    color:var(--white-color);
    padding: 0;
    margin: var(--sm-margin1);
}

p.h6{
    text-align: center;
}

/* accordion */
.accordion-body > .accordion-sub-button{
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: var(--md-margin1);
}

table  tr  td{
    margin-bottom: 0;    
}

/* forms*/
form{
    display: flex;
    flex-direction: column;
}

form > label, .form-group > label{
    font-weight: 600;
}
form > button.btn, .form-group + button.btn{
  margin: auto;
  width: 300px;
  margin-top: var(--md-margin1);
  padding: var(--sm-margin3);
}

/* title */
h1{
    font-size: 1.6em;
}

/* Login*/

main .login-screen{
    padding: var(--lg-padding3);
    max-width: 400px;
    margin: auto;
}

main .login-screen button{
    width: 200px;
    margin-top:var(--lg-margin2);
}

/* footer*/

footer{
    margin-top: var(--md-margin1);
}

footer p{
    text-align: center;    
}
footer p a{
    text-align: center;
    color: var(--black-color1);
}

@media (max-width: 320px) {
    main > div.container{
        padding-left: 0;
    }
    main .login-screen{
        padding: var(--lg-padding3);
        max-width: 100%;
        margin: auto;
    }
    
    main .login-screen button{
        width: 100%;
        margin-top:var(--lg-margin2);
    }
}

