.parts-list .parts-item, .vehicles-list .vehicles-item{
    margin-top: var(--md-margin1);    
}

.status-radio{
    display: flex;
    gap: var(--md-margin2);
}

@media (min-width: 768px) {
    
    .item .item-body{        
        display: flex;
        gap: var(--md-margin3);
        align-items: center;
    }
    .item .item-body img{
        width: 250px;
    }

    .item-body .right-content{
        align-self: flex-start;
    }

    .item-body .right-content .part-reference{
        margin-bottom: var(--sm-margin3);
    }

    li.parts-item .item{

    }


}