main .login-screen{
    padding: var(--lg-padding3) var(--lg-padding3) calc(var(--lg-padding3) * 3) var(--lg-padding3);    
    margin: auto;
    border: 1px solid var(--gray-color4);  
    border-radius: 10px;
    max-width: 350px;
}

main .login-screen button{
    width: 200px;
    margin-top:var(--lg-margin2);
}

main .login-screen .title-box{        
    margin-top: 0;
    margin-bottom:  calc(1.5 * var(--lg-margin3)) ;
}

.login-screen .form-login input{
    height: 50px;
    border: 1px solid var(--gray-color3);  
}
.login-screen .input-group > .input-group-prepend > .input-group-text{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    border: 1px solid var(--gray-color3);  
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--primary-color);    
}
#basic-addon1, #basic-addon2{
    background-color:var(--gray-color3);
}


.login-screen .form-login .input-group{
    margin-bottom: var(--lg-margin3);
}
.login-screen .input-group-prepend{
    border-radius: 100px;
}

.login-screen .login-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: --md-margin3 ;
}
.login-screen .login-footer .btn{
    width: 100%;
    margin-top: 0;
    height: 50px;
}

@media (min-width: 576px) {    
  
}
