:root{
    --sm-margin1: 3px;
    --sm-margin2: 6px;
    --sm-margin3: 9px;
    --md-margin1: 12px;
    --md-margin2: 18px;
    --md-margin3: 21px;
    --lg-margin1: 24px;
    --lg-margin2: 27px;
    --lg-margin3: 30px;

    --sm-padding1: 3px;
    --sm-padding2: 6px;
    --sm-padding3: 9px;
    --md-padding1: 12px;
    --md-padding2: 18px;
    --md-padding3: 21px;
    --lg-padding1: 24px;
    --lg-padding2: 27px;
    --lg-padding3: 30px;

    --button-size: 40px;
    --input-size: 30px;

    --sm-font-size: 0.5em;
    --md-font-size: 1em;
    --lg-font-size: 2em;
    --xlg-font-size: 2.5em;

    --border-color:  #cacaca;
    --sm-border-radius2:  6px;

    --black-color1: rgb(6, 19, 35);    
    --gray-color3: rgb(40, 47, 57);
    --gray-color4: rgb(40, 47, 57, .2);
    --white-color: rgb(245, 246, 250);
    
    --primary-color: rgb(254, 120, 59);    
    --primary-color2: rgb(254, 120, 59,.9);    
    --secondary-color: rgb(253, 240, 4); 
   
    
    
}